@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --shadow-inner: #3b82f6;
  --shadow-outter: #bfdbfe;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next {
  height: 100%;
}

#map {
  height: 100%;
}

#marker-layer:nth-child(4) {
  animation: svg-shadow 1.5s ease-in-out infinite alternate;
}

.svg-shadow{
  animation: svg-shadow 1.5s ease-in-out infinite alternate;
}
@keyframes svg-shadow{
  from {
    filter: drop-shadow(0 0 0.5rem var(--shadow-inner))
      drop-shadow(0 0 1rem var(--shadow-outter))
      drop-shadow(0 0 1.2rem var(--shadow-outter));
  }

  to {
    filter: drop-shadow(0 0 1.2rem var(--shadow-inner))
      drop-shadow(0 0 1.5rem var(--shadow-outter))
      drop-shadow(0 0 2rem var(--shadow-outter));
  }
}
